<style>
  .body {
    text-align: center;
  }
</style>

<body class="body">
<br>
<br>
<br>
<br>
<br>
  <h1>Welcome, prepare to seal your fate. Choose your challenge.</h1>
  <br>
  <br>
  <br>
  <section class="btn_section">
    <div class="riddle_btn">
      <%= button_to "Solve a Riddle!", riddle_path, method: :get %>
        <div class="desc_of_riddle_game">
        <h3>
          You will be given a riddle to solve. If you solve it, you win! Simple as that!
        </h3>
      </div>
    </div>
    <br>
    <br>
    <div class="game_btn">
      <%= button_to "Play a Game", game_path, method: :get %>
      <div class="desc_of_game">
        <h3>
          You will have the chance to play a weird game... Good luck!
        </h3>
      </div>
    </div>
  </section>
</body>